.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  gap: 20px;
}

.hero {
  background-color: #000;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.card {
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
