.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    "header header header"
    "sidebar content right"
    "footer footer footer";
}

header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

main {
  grid-area: content;
}

.right {
  grid-area: right;
}

footer {
  grid-area: footer;
}
