.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  background-color: #000;
  color: #ffffff;
  height: 100px;
  width: 100%;
}
