* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
/* ================= NAVBAR ================= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px 40px;
}

.logo {
  color: white;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}
/* ================= HERO ================= */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  background: #f4f4f4;
  gap: 20px;
  text-align: center;
}

.hero button {
  padding: 10px 20px;
}

/* ================= FEATURES ================= */

.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 20px;

  padding: 40px;
}

.feature {
  background: #ddd;
  padding: 20px;
  text-align: center;
}

/* ================= FOOTER ================= */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;

  background: #222;
  color: white;
}

.social {
  display: flex;
  gap: 15px;
}

.social a {
  color: white;
  text-decoration: none;
}
